In [45]:
#Örnek 2.30 - pandas ile veri seti çekme

import numpy as np
import pandas as pd

df = pd.read_csv('bilgi.csv')

print(df)
print("******")
print(df.loc[1])

print(type(df))

   Unnamed: 0    isim  dTarihi
0           0   Ahmet     1984
1           1  Mehmet     1986
2           2     Ali     1999
3           3   Osman     1987
4           4    Enes     1963
******
Unnamed: 0         1
isim          Mehmet
dTarihi         1986
Name: 1, dtype: object
<class 'pandas.core.frame.DataFrame'>